services:
  # Staging
  - type: web
    name: test-app-frontend
    env: node
    region: singapore
    plan: free
    branch: master
    numInstances: 1
    healthCheckPath: /
    buildCommand: yarn; yarn build
    startCommand: yarn start
    envVars:
      - key: HOST
        value: 0.0.0.0
      - key: BASE_API_URL
        value: https://test-app-api.onrender.com
      - key: BASE_URL
        value: https://test-app-frontend.onrender.com
      - key: TEST
        value: '*'
    autoDeploy: false
